*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    
}
#cajarriba {
    height: 120px;
    width: 210vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    
}

#prueba:hover{
position: relative;
left: 5px;
bottom: 5px;
}

#cajaSuperior {
    width: 210vw; /* que ocupe el ancho de la pantalla */
    height: 210vh; /* para que sea cuadrada (igual a width) */
    background-image: url(imgs/fondo.jpg);
    background-size: contain; 
    padding: 20vw;
}

a {
    color: rgb(146, 72, 15);
    text-decoration: none;
}
#cajaCentral {
    
    width: 60%;
    margin-left:20%;
    height: 120 vh;
    padding: 15vw;
}

h1 {
    font-size: 64px;
    line-height: 104px;
    font-weight: 100;
}

h2 {
    font-size: 18px;
    color: darkgray;
}

p {
    font-size: 18px;
    line-height: 60px;
    font-weight: 100;
}

#cajaInferior {
    height: 100vh;
    background-color: black;
}

ul {
    width: 90%;
     
    list-style: none;    
    font-size: 20px;
    font-weight: 100;
    padding: 5vw;
    color: white;
}
.nowhere:hover {
    color:rgb(252, 252, 252)
}
li {
    display: inline-block;
    margin: 2px;
  
    padding: 1%;
}
